 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>关于我们</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>我们是来自WOQU.com的IT团队，我们探索Web、iOS、H5，如果你是一个充满热情程序员，如果你喜欢研究hybrid app，如果你觉得H5将会颠覆世界，如果你了解过React.js/AngularJs/Backbone.js，如果你觉得最近很热的react native很赞，如果你觉得你so diao或者将会很niubility，请加入我们！</p>
                </div>
                <!-- <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
                </div> -->
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/WQTeam" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> 加入我们吧
                    </a>
                </div>
            </div>
        </div>
    </section>